<form>
  <h1 class="is-size-3">Add a new Flash Card</h1>
  <div class="field">
    <label class="label" for="">Question</label>
    <div class="control">
      <input
        required
        class="input"
        type="text"
        name="question"
        [(ngModel)]="flash.question"
        #question="ngModel">
    </div>
  </div>
  <div class="field">
    <label class="label">Answer</label>
    <div class="control">
      <input
        required
        class="input"
        type="text"
        name="answer"
        #answer
        [(ngModel)]="flash.answer">
    </div>
  </div>
  <button
    class="button is-primary"
    type="submit"
    (click)="handleSubmit()">Submit</button>
  <button
    class="button clear-btn"
    (click)="handleClear()">Clear</button>
</form>

<div class="flashs">
  <app-flash
    *ngFor="let flash of flashs; trackBy: trackByFlashId"
    [flash]="flash"
    (onToggleCard)="handleToggleCard($event)"
    (onDelete)="handleDelete($event)"
    (onEdit)="handleEdit($event)"
    (onRememberedChange)="handleRememberedChange($event)"
    ></app-flash>
</div>
